@tailwind base;
@tailwind components;
@tailwind utilities;




.table-container {
  width: 100%;
}

.table-wrapper {
  width:50%;
  margin:0 auto;
  position: relative;
}

.table-top {
  height: 70px;
  padding: 1rem;
  padding-bottom: 0;
  display:flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-radius: 0 0 10% 10%;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.top-nav {
  flex:1;
}

.top-nav:first-child,
.top-nav:last-child {
  font-size: 1.35rem !important;
  cursor: pointer;
}

.top-nav:first-child {
  color: paleturquoise;
}

.table-mid {
  margin: 2rem 0 0 2rem;
}

.table-buttons button {
  margin-right: 1.5rem;
  padding:0.25rem 0.55rem 0.25rem 0.55rem;
  border-radius: 5px;
  border: none;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
  background-color: white;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

.table-buttons button:hover {
  background-color: grey;
}

.table-bottom {
  margin: 2.5rem 0 0 2rem;
}

.table-bottom .table-name {
  font-size: 2rem;
  font-weight: bold;
  text-transform: capitalize;
}

.table-list {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.table-number {
  width: 5rem;
  height: 5rem;
  border-radius: 5px;
  /* border: 1px solid red; */
  display:flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0 0 1rem;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

.table-empty {
  background-color: grey;
  color:white 
}

.table-empty:hover {
  background-color: black;
}

.table-occupied {
  background-color: red;
  color:white;
}

.table-occupied:hover {
  background-color: grey;
}

.order-container {
  margin: 1.5rem 0 0 1.5rem;
}

.order-info {
  display:flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.03);
  box-shadow: 0px 4px 10px rgba(0,0,0,0.25);
  border-radius: 15px;
  margin-top: 2rem;
}

.order-wrapper {
  position: relative;
}

.order-list {
  padding: 1rem;
  display:flex;
  justify-content: space-between;
}

.list-left {
  margin-left: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.078rem;
  display: flex;
  align-items: center;
}

.list-right {
  margin-right: 1rem;
  color:grey;
}

.list-left span {
  margin-left: 1rem;
}

.list-left i {
  color: gainsboro;
  cursor: pointer;
}

.list-right span:nth-child(1) {
  margin-right: 1rem;
  font-size: 12px;
}

.order-border {
  position: absolute;
  border-bottom: 1px solid gainsboro;
  width: 85%;
  left: 50%;
  transform: translateX(-50%);
}

.summary-list {
  display:flex;
  flex-direction: column;
  padding: 1rem;
}

.summary-info {
  padding: 0.3rem  0.7rem 0rem 0.7rem;
  display:flex;
  justify-content: space-between;
}

.summary-info span:nth-child(1) {
  font-weight: bold;
}

.summary-info span:nth-child(2) {
  color:grey;
  font-size: 14px;
}

.order-buttons {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
}

.order-buttons button {
  margin-bottom: 1rem;
  width:50%;
  padding:0.9rem 0.33rem 0.9rem 0.33rem;
  border-radius: 15px;
  border:none;
}

.order-buttons button:nth-child(1) {
  background: #8F5E0B;
  font-weight: bold;
  color:white;
}

.order-buttons button:nth-child(2) {
  background: #C9EE36;
  font-weight: bold;
  color:black;
}

@media only screen and (min-width: 280px) and (max-width: 767px) {
  .table-wrapper {
    width: 100%;
  }

  .table-top {
    padding: 0;
  }

  .table-list {
    display:grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .table-bottom {
    margin-top: 20px;
    margin-left: 0;
  }

  .table-name {
    margin-left: 10px;
  }

  .order-container {
    margin-left: 0;
  }
  
  .order-buttons button {
    width: 80%;
  }

}

